@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.nav {
  position: fixed;
  top: 0;
  display: flex;
  /* background: linear-gradient(to bottom, #00000086, #00000013); */
  justify-content: space-between;
  /* position: absolute; */
  top: 0;
  width: 100vw;
  padding: 0 2rem;
  z-index: 100;
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  .nav {
    padding: 0;
  }
  .nav-inner {
    padding: 0 1rem;
  }
}

.nav-scroll {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: 0.5s;
}

.nav-scroll .logo {
  font-size: 3vw;
  transition: 0.5s;
}


.background-gradient {
  background: linear-gradient(to bottom, #000000ba 40%, #00000000);
}

.content {
  margin-top: 6rem;
}

.logo {
  font-family: "Bebas Neue", cursive;
  font-size: 3.8vw;
  transition: 0.5s;
}

.master {
  position: relative;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /* padding-bottom: 2rem; */
  transition: background 1s ease !important;
}

@media screen and (max-width: 767px) {
  .master {
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .master {
    height: 720px;
  }
}

.hero-vignette {
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
  background-position: 0 top;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  bottom: -1px;
  height: 14.7vw;
  opacity: 1;
  top: auto;
  width: 100%;
  z-index: 5;
}

.trailer-vignette {
  position: absolute;
  background: linear-gradient(77deg,rgba(0,0,0,.6),transparent 85%);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 26.09%;
  top: 0;
  transition: opacity .5s;
  z-index: 5;
}

.featured {
  display: flex;
  width: 100%;
  padding: 3rem 2rem 5rem 2rem;
  z-index: 50;
}
@media screen and (max-width: 767px) {
  .featured {
    padding: 3rem 1rem 1rem 1rem;
  }
}

.featured-left {
  width: 60%;
}
@media screen and (max-width: 767px) {
  .featured-left {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.featured-right {
  font-size: 2rem;
  width: 50%;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
}
.featured-icon {
  font-size: 0.8rem;
  font-size: 1.1vw;
  font-weight: 800;
}
@media screen and (max-width: 767px) {
  .featured-icon {
    display: none;
  }
}
.featured-title {
  /* font-size: 1.8rem; */
  font-size: 4.3vw;
  font-weight: 800;
}
@media screen and (max-width: 767px) {
  .featured-title {
    font-size: 2rem;
    text-align: center;
    width: auto;
  }
  .movie-info .featured-title {
    text-align: left;
    margin-bottom: 6rem;
  }
}

.featured-desc {
  font-weight: 500;
  font-size: 1.27vw;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 767px) {
  .featured-desc {
    font-size: 1rem;
    text-align: center;
    line-height: 1.3rem;
  }
  .featured-desc {
    text-align: left;
    padding: 1rem;
  }
}
.featured-cta {
  display: flex;
}
@media screen and (max-width: 767px) {
  .featured-cta {
    justify-content: center;
  }
}

.container-text {
  background-color: rgba(0, 180, 216, 0.8);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.3rem;
}

.Login {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.left {
  height: 100vh;
  width: 50vw;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.info {
  color: var(--ascent);
  font-size: 2.8rem;
  font-weight: 600;
}

.input-master {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container label {
  font-size: 0.8rem;
}

.input-container input {
  border: none;
  border-radius: 0.7rem;
  padding: 1rem;
  background-color: black;
}

.input-container input:focus {
  outline: 1px solid var(--ascent);
  /* outline: none; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.button-container {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.signup {
  flex: 1;
  max-width: 50%;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--ascent);
  color: whitesmoke;
  border-radius: 2rem;
}

.right {
  height: 100vh;
  width: 50vw;
  padding: 3rem;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(to bottom, #00b4d848, #00b4d825),
    url("../public/assets/root_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  /*padding: 1rem;*/
  box-sizing: border-box;
  background-color: var(--ascent);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  color: rgb(237, 229, 255);
  font-size: 20rem;
}

.action {
  display: flex;
  flex-direction: column;
}

.action-button {
  text-decoration: none;
  color: var(--ascent);
  font-weight: 600;
}

.reg {
  flex-direction: row;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info {
  display: flex;
}

.search-icon {
  font-size: 1.5rem;
}

.nav-item {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav-item.selected {
  color: var(--ascent);
  font-weight: 600;
  border-bottom: 3px solid lime;
}
@media screen and (max-width: 767px) {
  .nav-item {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.search input {
  border: none;
  border-radius: 0.7rem;
  padding: 1rem;
  background-color: rgba(143, 143, 143, 0.3);
  width: 50vw;
}

.search input:focus {
  outline: 1px solid var(--ascent);
}

.toggle {
  display: flex;
}
.toggle button {
  display: flex;
  padding: 0.8rem;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.7rem 0 0 0.7rem;
  /* padding: 0.98rem; */
  background-color: rgba(143, 143, 143, 0.3);
}

.toggle button[data-toggle="true"] {
  background-color: var(--ascent);
  color: black;
}

.toggle button:nth-child(1) {
  border-radius: 0.7rem 0 0 0.7rem;
}

.toggle button:nth-child(2) {
  border-radius: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.toggle button:nth-child(3) {
  border-radius: 0 0.7rem 0.7rem 0;
}

.test {
  position: absolute;
  top: 4vw;
  right: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
  gap: 0.5rem;
}

.nav-scroll .test {
  top: 3.5vw;
}

.x {
  width: 100%;
  height: 100vh;
}

.menu-item {
  cursor: pointer;
}
.menu-item:hover {
  color: var(--ascent);
}

.popular {
  /* height: 188px; */
  /* height: 15.07vw; */
  overflow: visible;
  /* overflow-x: scroll; */
  /* overflow-y: visible; */
  /* height: fit-content; */
  /* position: absolute; */
  /* bottom: 3rem; */
  display: flex;
  align-items: center;
  gap: 2rem;
  /* overflow-y: hidden; */
  /* margin-left: 3rem; */
  padding-left: 2rem;
}
.popular::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 767px) {
  .popular {
    gap: 0.3rem;
    padding-left: 1rem;
    overflow-x: scroll;
  }
}


.arrow-container {
  height: 0;
}
.title {
  font-weight: 700;
  padding: 1rem 0 0 2rem;
}
@media screen and (max-width: 767px) {
  .title {
    padding: 0 0 0 1rem;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5em;
    color: #999;
  }
}
.arrow {
  height: 4.2vw;
  width: 4.2vw;
  border-radius: 50%;
  border: none;
  font-size: 3vw;
  position: relative;
  z-index: 10;
  top: 6vw;
  background-color: #00000034;
  transition: 0.5s;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .arrow {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5em;
  }
}
.arrow:hover {
  background-color: #00b4d8;
  transition: 0.5s;
}

.left-arrow {
  left: 3.5vw;
}

.right-arrow {
  left: 90vw;
}
@media screen and (max-width: 767px) {
  .right-arrow {
    left: 77vw;
  }
  .left-arrow svg, .right-arrow svg {
    width: 20px;
    margin: 0 auto;
  }
}

.card {
  padding: 0;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  flex-shrink: 0;
  width: 300px;
  width: 23.7vw;
  height: 169px;
  height: 13.4vw;
  border-radius: 2rem;
  /* padding: 1rem; */
  position: relative;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  transition: 0.5s;
  overflow: hidden;
  border: none;
}

@media screen and (max-width: 767px) {
  .card {
    width: 165px;
    height: 90px;
    border-radius: 0.8rem;
  }
}

.card:hover {
  transform: scale(1.6);
  transition: 0.5s;
  z-index: 100;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 2rem 0 2rem 2rem;
  padding: 0.5rem 1.4rem;
}

.people-card {
  height: 278px;
  width: 185px;
}

.test1 {
  height: 100vh;
}

.results-container {
  padding: 1rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.channel-container {
  z-index: 10;
  position: relative;
  margin-bottom: 2rem;
}
.channel-container:hover {
  z-index: 30;
}

.movie-info {
  height: 70vh;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
@media screen and (max-width: 767px) {
  .movie-info {
    height: 45vh;
  }
}

.genres {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.genre-item {
  color: white;
  font-size: 1.3vw;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.521);
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.2s !important;
  cursor: pointer;
}

.genre-item:hover {
  font-weight: 700;
  transform: scale(1.6);
  transition: 0.2s;
}
@media screen and (max-width: 767px) {
  .genre-item {
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 0.6rem;
  }
}

.movie-card-container {
  display: flex;
  justify-content: space-evenly;
}

.movie-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22vw;
  height: 9.5vw;
  border-radius: 1rem;
  background: rgba(10, 67, 255, 0.2);
  transition: 0.7s;
}
@media screen and (max-width: 767px) {
  .movie-card {
    border-radius: 0.6rem;
    height: 12vw;
  }
}

.movie-card:hover {
  background: rgba(10, 67, 255, 1);
  transition: 0.7s;
  cursor: help;
}

.movie-card[data-color="1"] {
  cursor: pointer;
  background: rgba(128, 0, 0, 0.5) !important;
  transition: 0.7s;
}
.movie-card[data-color="1"]:hover {
  background: rgba(128, 0, 0, 1) !important;
  transition: 0.7s;
}
.movie-info-play {
  font-size: 5rem;
}
@media screen and (max-width: 767px) {
  .movie-info-play {
    font-size: 3rem;
    padding: 0.5rem 0;
  }
}
.movie-card-title {
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
}

.movie-card-title[data-style="capital"] {
  text-transform: uppercase;
}

.movie-card-desc {
  text-align: center;
  font-weight: 200;
}

.movie-info-container {
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 1rem;
  margin: 2rem;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .movie-info-container {
    margin: 1rem 0 0 0;
    border-radius: 0;
  }
}

.movie-info-desc {
  height: 100%;
  display: flex;
  gap: 3rem;
  padding: 1rem;
}
.movie-info-title {
  font-size: 1.5rem;
}

.movie-info-item {
  /* width: 6vw; */
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.movie-info-item-img {
  border-radius: 1rem;
}

.company-logo {
  border-radius: 0 !important;
}
.movie-info-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

.movie-info-item-desc {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 200;
  font-size: 1rem;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 0;
  transition: max-height 0.4s ease;
  overflow: hidden;
}

.video {
  margin-top: 3rem;
}

.revealed {
  max-height: 540px;
  transition: max-height 0.4s ease;
}

.user-data {
  margin-top: 6vw;
  display: flex;
  flex-direction: column;
}

.user-data-item {
  display: flex;
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.432);
}

.user-data-left {
  font-weight: 700;
  font-size: 1.5rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  /* background-color: #00b4d848; */
}
.user-data-right {
  padding: 2rem 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.user-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.user-img {
  max-width: 13vw;
}
.user-info-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: 80%;
  padding: 0.6rem;
  border: 1px solid white;
  border-radius: 1rem;
}
.user-info-item-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.password-reset {
  display: flex;
  width: 100%;
}
.password-reset input {
  border: none;
  border-radius: 0.7rem;
  padding: 1rem;
  background-color: rgba(143, 143, 143, 0.3);
  width: 50%;
}

.password-reset input:focus {
  outline: 1px solid var(--ascent);
}

.password-reset button {
  text-decoration: none;
  background-color: var(--ascent);
  border: none;
  border-radius: 1rem;
  font-weight: 600;
}

.activity {
  display: flex;
  flex-direction: column;
}

.page-header {
  padding-top: 6vw;
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 100vw;
  background: linear-gradient(
      to bottom,
      #000000c2 0%,
      #00000013 30%,
      #00000000 50%,
      #0c192133 60%,
      #0c192169 70%,
      var(--bg) 100%
    ),
    url("../public/assets/root_bg.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.page-header * {
  cursor: pointer;
}

.act {
  padding: 1rem 2rem;
  flex-wrap: wrap;
  height: fit-content;
}

.genre-type-change {
  font-size: 1rem;
  cursor: pointer;
}

.no-results-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-results {
  width: 60vw;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.no-results-container a {
  margin-top: 2rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--ascent);
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.category {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
}

.category .genres {
  margin-left: 2rem;
}

.search {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
